USE [master]
GO
/****** Object:  Database [OnlineVotingSystem]    Script Date: 4/3/2026 6:20:32 PM ******/
CREATE DATABASE [OnlineVotingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineVotingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OnlineVotingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineVotingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OnlineVotingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineVotingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineVotingSystem]
GO
/****** Object:  User [voting_database]    Script Date: 4/3/2026 6:20:32 PM ******/
CREATE USER [voting_database] FOR LOGIN [voting_database] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/3/2026 6:20:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[VoterID] [bigint] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 4/3/2026 6:20:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[Party] [varchar](50) NULL,
	[PositionID] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 4/3/2026 6:20:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voters]    Script Date: 4/3/2026 6:20:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voters](
	[VoterID] [bigint] IDENTITY(100000000000,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[College] [varchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votes]    Script Date: 4/3/2026 6:20:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[VoteID] [int] IDENTITY(1,1) NOT NULL,
	[VoterID] [bigint] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[VoteTimestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [VoterID], [Email], [Password], [Type]) VALUES (1, 100000000001, N'juan.dc@gmail.com', N'pw1', N'user')
INSERT [dbo].[Accounts] ([AccountID], [VoterID], [Email], [Password], [Type]) VALUES (2, 100000000002, N'maria.sr@yahoo.com', N'pw2', N'user')
INSERT [dbo].[Accounts] ([AccountID], [VoterID], [Email], [Password], [Type]) VALUES (3, 100000000003, N'anna.lg@bulsu.edu.ph', N'pw3', N'user')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Candidates] ON 

INSERT [dbo].[Candidates] ([CandidateID], [FirstName], [MiddleName], [LastName], [Party], [PositionID], [IsActive]) VALUES (1, N'Queenie', N'Hernandez', N'Quintero', N'Team GOLD', 1, 1)
INSERT [dbo].[Candidates] ([CandidateID], [FirstName], [MiddleName], [LastName], [Party], [PositionID], [IsActive]) VALUES (2, N'Katherine', N'Reyes', N'Sarmiento', N'Team GOLD', 2, 1)
INSERT [dbo].[Candidates] ([CandidateID], [FirstName], [MiddleName], [LastName], [Party], [PositionID], [IsActive]) VALUES (3, N'Lovelace', N'Ramos', N'Delos', N'Team BLUE', 3, 1)
SET IDENTITY_INSERT [dbo].[Candidates] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (1, N'SSC President')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (2, N'SSC Vice President')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (3, N'SSC Senator')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Voters] ON 

INSERT [dbo].[Voters] ([VoterID], [FirstName], [MiddleName], [LastName], [Sex], [College], [DateOfBirth]) VALUES (100000000001, N'Juan', N'Dela', N'Cruz', N'Male', N'College of Engineering', CAST(N'2003-04-12' AS Date))
INSERT [dbo].[Voters] ([VoterID], [FirstName], [MiddleName], [LastName], [Sex], [College], [DateOfBirth]) VALUES (100000000002, N'Maria', N'Santos', N'Reyes', N'Female', N'College of Business Administration', CAST(N'2002-10-23' AS Date))
INSERT [dbo].[Voters] ([VoterID], [FirstName], [MiddleName], [LastName], [Sex], [College], [DateOfBirth]) VALUES (100000000003, N'Anna', N'Lopez', N'Garcia', N'Female', N'College of Arts & Sciences', CAST(N'2004-01-15' AS Date))
SET IDENTITY_INSERT [dbo].[Voters] OFF
GO
SET IDENTITY_INSERT [dbo].[Votes] ON 

INSERT [dbo].[Votes] ([VoteID], [VoterID], [CandidateID], [VoteTimestamp]) VALUES (1, 100000000001, 1, CAST(N'2026-04-03T09:45:22.133' AS DateTime))
INSERT [dbo].[Votes] ([VoteID], [VoterID], [CandidateID], [VoteTimestamp]) VALUES (2, 100000000002, 2, CAST(N'2026-04-03T09:45:22.133' AS DateTime))
INSERT [dbo].[Votes] ([VoteID], [VoterID], [CandidateID], [VoteTimestamp]) VALUES (3, 100000000003, 3, CAST(N'2026-04-03T09:45:22.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[Votes] OFF
GO
/****** Object:  Index [UQ__Accounts__12D25BD9D84B03E7]    Script Date: 4/3/2026 6:20:32 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[VoterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__A9D1053415BD3CEE]    Script Date: 4/3/2026 6:20:32 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Voter_Candidate]    Script Date: 4/3/2026 6:20:32 PM ******/
ALTER TABLE [dbo].[Votes] ADD  CONSTRAINT [UQ_Voter_Candidate] UNIQUE NONCLUSTERED 
(
	[VoterID] ASC,
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Candidates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Votes] ADD  DEFAULT (getdate()) FOR [VoteTimestamp]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([VoterID])
REFERENCES [dbo].[Voters] ([VoterID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Candidates]  WITH CHECK ADD FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD FOREIGN KEY([VoterID])
REFERENCES [dbo].[Voters] ([VoterID])
GO
USE [master]
GO
